*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



img{
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}


button{
  cursor: pointer;
  border-radius: 5px;
}



/*HEADER BOTTONI*/
header{
  position: relative;
  height: 70px;
  background-color: #000000;
}




header button{
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
}




.speaker, .fullscreen{
  position: absolute;
  top: 8px;
  display: inline-block;
  margin: 0 5px;
}




.speaker{
  right: 30px;
}



.fullscreen{
  right: 1px;
}


/*MAIN*/

main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #000000;
  height: calc(100vh - 140px);
  overflow-y: scroll;
}



.container{
  position: relative;
  height: 150px;
  width: 250px;
  margin: 8px 3px;
}



.container>span{
  color: white;
  background-color: rgba(121, 121, 121, 0.613);
  padding: 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}


main .container:last-child{
  margin-bottom: 20px;
}




/*FOOTER*/
footer .footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #222222;
}



.video-talk{
  width: 250px;
  height: 50px;
  color: white;
  margin: 0px 5px;
}


.video-talk i{
  font-size: 30px;
  margin: 5px;
}


.video-talk i:last-of-type{
  font-size: 10px;
}


.video-talk span{
  display: block;
}



.video{
  position: relative;
}




.video-talk .video i{
  position: absolute;
  bottom: 15px;
  left: 70px;
  display: inline-block;
  color: white;
  font-size: 30px;
}

.video i:last-of-type{
  position: absolute; 
  left: 120px;
  bottom: 22px;
  font-size: 10px;
}


.actions-icons{
  height: 50px;
  width: 400px;
}






.end-meeting{
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 100%;
  background-color: #4A4A4A;

}



.end{
  color: red;
  text-transform: capitalize;
  font-size: 15px;
  cursor: pointer;
}